@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/static/Inter-Regular.ttf') format('truetype'), url('./fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/static/Inter-Bold.ttf') format('truetype'), url('./fonts/Inter-Regular.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
:root {
  font-family: 'Inter';
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 8%);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

h1, h3, p {
  margin: 0;
}